body {
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  padding: 20px;
}

#navbar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 15;
  left: 10;
  padding: 20px;
  border-right: 1px solid;
}

.nav-link {
  display: block;
  color: black;
  text-decoration: none;
  border-top: 1px solid;
  padding: 20px;
}

main {
  margin-left: 370px;
}

.code-box {
  background-color: lightgray;
  padding: 1px;
}

pre {
  counter-reset: line;
  padding-left: 5px;
}

code {
  counter-increment: line;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

/*
code:before{
  content: counter(line);
  user-select: none;
  margin-right: 15px;
}
*/
.inline-code {
  font-family: courier, monospace;
}

img {
  display: block;
}

@media screen and (max-width: 600px) {
  a {
  font-size: 10px;  
  }
}